[Unit]
Description=VPN over TLS
After=network.target

[Service]
User=root
Group=root
Restart=always
RestartSec=3
WorkingDirectory=/opt/vpn/
ExecStart=/usr/bin/python3 client/client.py

[Install]
WantedBy=multi-user.target
